body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

b {
    font-weight: 700;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h1:first-child,
h2:first-child {
    margin-top: 0;
}

#trademarks {
    font-size: 75%;
    color: #999;
}

table.results {
    min-width: 270px;
}

table.results > tbody > tr > td {
    font-weight: 700;
    padding-top: 0.25em;
}

table.results > tbody > tr > td:first-child {
    font-weight: normal;
    padding-right: 2em;
}

table.results > tbody > tr:first-child > td {
    padding-top: 0;
}

.mui-container {
    max-width: 970px;
}

a {
    white-space: nowrap;
}

#topcard {
    background-color: #FFD;
}

.realm-panel {
    background-color: #F6FFF6;
}

.extra-panel {
    background-color: #F6F6FF;
}

img.sparkline {
    float: right;
    width: 400px;
    height: 187px;
    max-width: 100%;
    border: 0;
}

@media all and (max-width: 768px) {
    img.sparkline {
        float: none;
        margin-bottom: 1em;
    }
}

div.hc {
    height: 400px;
}

.faq > li b:first-child {
    margin-right: 0.5em;
}

.faq > li {
    margin: 0.5em 0;
}

#topcard div.twitter {
    float: right;
}
#topcard div.twitter img {
    height: 15px;
    margin: 0 5px 0 15px;
}
@media all and (max-width: 400px) {
    #topcard div.twitter {
        display: none
    }
}

.notifications-allowed select {
    float: right;
}

.notifications-allowed div {
    margin-top: 10px;
}

.adsbygoogle {
    margin-bottom: 20px;
    width: 320px;
    height: 100px;
}

@media (min-width:500px) {
    .adsbygoogle { width: 468px; height: 60px; }
}
@media (min-width:800px) {
    .adsbygoogle { width: 728px; height: 90px; }
}
