.idea
logs/
snapshots/

public/icon/
lighttpd.conf/
private/

incl/*.credentials.php
scripts/realms2houses_cache/*
scripts/cdnpurge.dates.json
compress/*

public/globalprices.json
addon/MarketData*.lua
addon/*.zip
