.idea
logs/

public/icon/
public/models/
lighttpd.conf/
private/
backup/

incl/*.credentials.php
incl/banlist.txt
public/index.scripts.inc
public/paypal.*.php
public/bitpay.*.php
public/donate.bitcoin.inc
scripts/realms2houses_cache/*
scripts/zopfli
scripts/*.credentials.sh

public/globalprices.json
addon/MarketData*.lua
addon/BonusSets.lua
addon/GetDetailedItemLevelInfo.lua
addon/*.zip

wowtoken/*.incl.html
wowtoken/css/*.css.map
wowtoken/*.json
wowtoken/*.csv
wowtoken/index.html
wowtoken/index.shtml
wowtoken/snapshot*.gz
wowtoken/snapshot*.br

theapi.work/times.json