[submodule "scripts/zopfli.git"]
	path = scripts/zopfli.git
	url = https://github.com/google/zopfli.git
[submodule "gamedata/DBC/db2"]
	path = gamedata/DBC/db2
	url = https://github.com/erorus/db2.git
[submodule "gamedata/icons/BLPConverter"]
	path = gamedata/icons/BLPConverter
	url = https://github.com/Kanma/BLPConverter.git
