[mysqld]
datadir=/mnt/ssd/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

open-files-limit=1024
innodb_buffer_pool_size=11776MB
innodb_doublewrite=0
innodb_flush_log_at_trx_commit=0
innodb_lock_wait_timeout=10
innodb_log_file_size=512MB
table_cache=200
max_connections=50
sort_buffer_size=262136
innodb_support_xa=0

tmp_table_size=64MB
max_heap_table_size=64MB
innodb_file_per_table=1

bind-address=127.0.0.1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
