body {
    margin: 0;
    background-color: #F0F0F0;
    color: black;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    overflow-y:scroll
}

input, select {
    border-radius: 3px;
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;
}
#page {
    background-color: white;
    border: 1px solid #ccc;
    margin: 25px auto;
    padding-bottom: 25px;
    position: relative;
    width: 925px;
}

#bottom-bar a {
    display: none
}

#bottom-bar {
    color: transparent;
}

#bottom-bar .disclaimer {
    color: black;
    font-size: 9px;
}

.give-padding > div, .get-padding {
    padding: 2em 0;
}

#title {
    margin-right: 0;
    text-align: center;
}

#topcorner {
    position: relative;
    height: auto;
    right: auto;
    top: auto;
    width: auto;
    border-bottom: 1px solid black;
    font-family: Georgia,serif;
    font-size: 10pt;
    padding-bottom: 10px;
}

#topcorner .region-realm {
    font-size: inherit;
    display: inline;
}

#title-date {
    display: inline;
    padding: 0 20px;
}

body.page-realm #title-date, body.page-realm #classic-menus,
body.page-region #title-date, body.page-region #classic-menus {
    display: none;
}

body.page-realm #topcorner,
body.page-region #topcorner {
    border-bottom: 0;
}

#title-date b {
    padding: 0 20px;
}

#topcorner form {
    display: inline;
}

#topcorner input {
    width: 200px;
    border: 1px solid;
    font-size: 16px;
    padding: 5px;
    box-shadow: none;
    margin: 0;
}

#topcorner #realm-updated {
    display: none;
}

#sectionheadercontainer {
    background-color: #222;
    color: #fff;
    text-align: center;
}

.sectionheader {
    cursor: pointer;
    font-family: Georgia,serif;
    font-size: 9pt;
    padding: 5px 10px;
    text-transform: uppercase;
}

.sectionheaderselected {
    background-color: #eee;
    color: black;
}

#sectionitemscontainer {
    background-color: #eee;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    text-align: center;
}

#sectionitemscontainer .sectionheader {
    cursor: default;
    text-transform: none;
}

.section-overflow {
    overflow: hidden; height: 24px;
}

.section-overflow .sectionheader {
    white-space: nowrap; float: left;
}

#front-page .top-list {
    display: none;
}

#topcorner div.region-pick {
    text-align: right;
}

#topcorner div.region-pick a {
    margin-right: 20px;
    display: inline;
}

h2, #page-title {
    border-bottom: 1px solid black;
    font-family: Georgia,serif;
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 15px;
    text-align: left;
    font-weight: normal;
}

#page-title {
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    border-bottom: 0;
}

#region-page h2, #front-page h2 {
    border-bottom: 0;
}

#main {
    padding: 0 75px;
}

#big-title {
    display: none;
}

body.page-realm #title > div > a,
body.page-region #title a {
    display: none;
}

body.page-realm #big-title,
body.page-region #big-title {
    display: inline;
}

body.page-realm #title.give-padding > div,
body.page-region #title.give-padding > div {
    padding: 0;
}