html {min-height: 100%}
body {background-color: white; color: #333; margin: 0; overflow-y: scroll; font-family: sans-serif; font-size: 10pt}

a {text-decoration: none; color: black}
a:active,a:focus { outline: none; }
a:hover {text-decoration: underline}

abbr { cursor: default }

#page {position: relative; min-width: 62em; min-height: 100%}

body.realm        #topcorner {display: none}

#topbar { position: relative; width: 100%; }
#topcorner { position: absolute; top: 0; right: 0; width: 20em; height: 100% }
#title { margin-right: 20em; min-height: 11.5em }
#title > div > a { border: 0; background-image: url('../images/underminetitle.2000.png'); background-repeat: no-repeat; background-size: contain; height: 4em; display: block; margin-bottom: 0.5em }

#page-title { font-size: 2em; padding-left: 1em }
#page-title a.item img { vertical-align: middle; height: 1.2em; width: 1.2em; border-radius: 5px; border: 1px solid #333 }
#page-title a.battlepet img { vertical-align: middle; height: 1.2em; width: 1.2em; border-radius: 5px; border: 1px solid #333 }
#page-title a:hover { text-decoration: none }

.give-padding > div, .get-padding { padding: 2em }
#main { padding: 4em }

#topcorner .faction span { display: none }
#topcorner .faction.alliance span.alliance { display: inline }
#topcorner .faction.horde span.horde { display: inline }

#topcorner .realm-faction { font-size: 125% }
body.realm #topcorner .realm { display: none }
#topcorner span.region { cursor: default }

#topcorner form {display: inline}
#topcorner input {text-size: 150%; margin-top: 1em; padding: 0.5em; width: 100% }
body.realm #topcorner form { display: none }

.ad { width: 720px; height: 70px; border: 1px solid red; margin: 1em 0; display: inline-block }
.ad.box { width: 336px; height: 280px; }

.q0, .q0 a { color: #9d9d9d } /* Poor */
.q1, .q1 a { color: #ffffff } /* Common */
.q2, .q2 a { color: #1eff00 } /* Uncommon */
.q3, .q3 a { color: #0070dd } /* Rare */
.q4, .q4 a { color: #a335ee } /* Epic */
.q5, .q5 a { color: #ff8000 } /* Legendary */
.q6, .q6 a { color: #e5cc80 } /* Artifact */
.q7, .q7 a { color: #e5cc80 } /* Heirloom */

.wowhead-tooltip-powered { visibility: hidden }
.wowhead-tooltip > table { background-color: black; border-radius: 5px }

span.price.full { white-space: nowrap }
abbr.full-date { border-bottom: 0 }
abbr:hover.full-date { border-bottom: 1px dotted }

#realm-list {display: none; text-align: center}
#realm-list.width-test, #realm-list.show {display: block}
#realm-list.width-test #faction-pick {display: none}
.realms-column {width: 15em; display: none; vertical-align: top; text-align: left}
#realm-list.width-test .realms-column {display: inline-block}
#realm-list #faction-pick {font-size: 200%}
#realm-list #faction-pick a {padding: 0.5em; display: inline-block; width: 25%; margin: 0.5em 5%; color: black}
#realm-list #faction-pick a.alliance {background-color: #BBE}
#realm-list #faction-pick a.horde {background-color: #E99}
#realm-list.alliance #faction-pick a.horde {opacity: 0.5}
#realm-list.horde #faction-pick a.alliance {opacity: 0.5}
.realms-column a {display: block; margin: 0.2em 0}
#realm-list.alliance .realms-column {display: inline-block}
#realm-list.horde .realms-column {display: inline-block}
#realm-list.alliance .realms-column a {color: #006}
#realm-list.horde .realms-column a {color: #600}

#front-page { display: none }

#search-page table, table.auctionlist { width: 54em; margin: 0 auto 2em; border: 1px solid black; border-spacing: 0 }
#search-page table th, table.auctionlist th {padding: 0.4em 0.2em 0}
#search-page table td, table.auctionlist td {padding: 0.2em 0.4em; border-top: 1px solid #CCC}
#search-page tr:hover td, table.auctionlist tr:hover td {background-color: #EEE}

#search-page th.title { font-size: 125% }

table.auctionlist { margin: 0 auto }
table.auctionlist td.price abbr { border-bottom: 0 }
table.auctionlist td.price abbr:hover { border-bottom: 1px dotted }
table.auctionlist td.seller, table.auctionlist th.seller { padding-left: 2em; text-align: left }

td.name, th.name { text-align: left }
td.icon, th.icon { width: 1.5em; height: 1.5em; padding-right: 0 ! important }
img.icon {width: 1.5em; height: 1.5em}
td.price, th.price,
td.quantity, th.quantity,
td.date, th.date { text-align: right; cursor: default }

table.highcharts-tuj-tooltip {font-size: 100%; min-width: 8em}
table.highcharts-tuj-tooltip td {padding: 0}
table.highcharts-tuj-tooltip td + td {padding-left: 0.4em}

#item-page .chart-section { margin: 2em 0 }
#item-page .chart-section h2 { font-size: 150%; margin-top: 0; margin-bottom: 0.75em }
#item-page .chart { width: 100%; height: 18em; margin-top: 1em }
#item-page .chart.daily { width: 100%; height: 30em }
#item-page .chart.columns { width: 100%; height: 22em }

#item-page .item-stats { position: relative; text-align: right; font-size: 110%; display: inline-block; width: 100% }
#item-page .item-stats table { width: 20em; float: left; margin: 1em 0; font-size: 100% }
#item-page .item-stats table.with-stack { width: 25em }
#item-page .item-stats tr.spacer td { height: 0.5em }
#item-page .item-stats tr.stack-header td { padding-bottom: 0.5em; font-size: 80% }
#item-page .item-stats tr.current-price td { font-weight: bold }
#item-page .item-stats td { text-align: right }
#item-page .item-stats th { width: 66%; text-align: left }
#item-page .item-stats table.with-stack th { width: 50% }
#item-page .item-stats table.with-stack td { width: 25% }

#battlepet-page .chart-section { margin: 2em 0 }
#battlepet-page .chart-section h2 { font-size: 150%; margin-top: 0; margin-bottom: 0.75em }
#battlepet-page .chart { width: 100%; height: 18em; margin-top: 1em }
#battlepet-page .chart.columns { width: 100%; height: 22em }

#battlepet-page .battlepet-stats { position: relative; text-align: right; font-size: 110%; display: inline-block; width: 100% }
#battlepet-page .battlepet-stats table { width: 20em; float: left; margin: 1em 0; font-size: 100% }
#battlepet-page .battlepet-stats tr.spacer td { height: 0.5em }
#battlepet-page .battlepet-stats tr.stack-header td { padding-bottom: 0.5em; font-size: 80% }
#battlepet-page .battlepet-stats tr.current-price td { font-weight: bold }
#battlepet-page .battlepet-stats td { text-align: right }
#battlepet-page .battlepet-stats th { width: 66%; text-align: left }



