body {background-color: #333; color: #CCC}
#title > div > a img { background-image: url("../images/compressed/underminetitle.2000.dark.png"); }

a {color: white}

#topcorner input {border: 0; box-shadow: 0.3em 0.3em #222 }

#progress-page div { background-image: url("../images/progress.dark.gif"); }

#search-page table, table.auctionlist, table.category { border-color: #666 }
#search-page table td, table.auctionlist td, table.category td { border-color: #444}
#search-page tr:hover td, table.auctionlist tr:hover td, table.category tr:hover td, td.hover {background-color: #444}

.battlepet-breeds a, .item-bonussets a, .transmog-slots a { color: white; background-color: #444; box-shadow: 0.2em 0.2em #222 }

.dark-only { display: inline }
.light-only { display: none }

.money-gold::after { color: #DDB100 }
.money-silver::after { color: #E6E6E6 }
.money-copper::after { color: #C8602C }

table.category-fish .price {border-left-color: #444}

#transmog-results .transmog-box:hover { background-color: #444 }

#choose-locale {
    border: 1px solid #AAA;
    background-color: #333;
    color: #CCC;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0nT/0nAAAAC3RSTlMAVfWRPUzmsohCERd2JO8AAABDSURBVCjPYxhSgCtQEAImQAXYd0PBRqgAB0xABabHGsLf5AATYIYrgCuBKYArgSlAKIEqQCiBKUAogSpAKEllGPIAALC/JRBH8djtAAAAAElFTkSuQmCC");
}

#subscription-messages { border-color: #666 }
.messages-list-item, #subscription-messages-window .message-subject { border-bottom-color: #666 }
.messages-list-item.selected { background-color: #222 }
