body {background-color: #333; color: #CCC}
#title > div > a img { background-image: url("https://cdn.theunderminejournal.com/images/underminetitle.2000.dark.png"); }

a {color: white}

#topcorner input {border: 0; box-shadow: 0.3em 0.3em #222 }

#progress-page div { background-image: url("https://cdn.theunderminejournal.com/images/progress.dark.gif"); }

#search-page table, table.auctionlist, table.category-items { border-color: #666 }
#search-page table td, table.auctionlist td, table.category-items td { border-color: #444}
#search-page tr:hover td, table.auctionlist tr:hover td, table.category-items tr:hover td {background-color: #444}

.battlepet-breeds a { color: white; background-color: #444; box-shadow: 0.2em 0.2em #222 }

.dark-only { display: inline }
.light-only { display: none }

.money-gold::after { color: #DDB100 }
.money-silver::after { color: #E6E6E6 }
.money-copper::after { color: #C8602C }