<?php

define('MASHERY_KEY', 'dfkjdglkjsfdlsjhadj');
define('MASHERY_SECRET', 'afdagfsdkhjfgkjlhg');

define('BATTLE_NET_KEY', 'dfkjdglkjsfdlsjhadj');
define('BATTLE_NET_SECRET', 'afdagfsdkhjfgkjlhg');

define('BATTLE_NET_AUTH_URI', 'https://%s.battle.net/oauth/authorize');
define('BATTLE_NET_TOKEN_URI', 'https://%s.battle.net/oauth/token');
