<?php

define('BATTLE_NET_KEY', 'dfkjdglkjsfdlsjhadj');
define('BATTLE_NET_SECRET', 'afdagfsdkhjfgkjlhg');

// for wow token info only
define('BATTLE_NET_KEY_CN', 'dfkjdglkjsfdlsjhadj');
define('BATTLE_NET_SECRET_CN', 'afdagfsdkhjfgkjlhg');

define('BATTLE_NET_AUTH_URI', 'https://%s.battle.net/oauth/authorize');
define('BATTLE_NET_TOKEN_URI', 'https://%s.battle.net/oauth/token');
define('BATTLE_NET_TOKEN_URI_CN', 'https://www.battlenet.com.cn/oauth/token');
