<?php

define('DATABASE_SCHEMA', 'newsstand');

define('DATABASE_USERNAME_CLI', 'newsstand');
define('DATABASE_PASSWORD_CLI', 'xxx');

define('DATABASE_USERNAME_WEB', 'newsstand_web');
define('DATABASE_PASSWORD_WEB', 'xxx');

define('DEV_SERVER_IP', '255.255.255.255');