<?php

$mailCredentials = array(
    'smtp' => 'smtps://',
    'smtp-auth' => 'plain',
    'smtp-auth-user' => '',
    'smtp-auth-password' => '',
    'from' => 'contactform@theunderminejournal.com',
    'ssl-verify' => 'ignore',
    'nss-config-dir' => '/etc/pki/nssdb',
    'sendwait' => 1
);

