<?php

define('PATREON_KEY', 'xxxxx');
define('PATREON_SECRET', 'yyyyy');

define('PATREON_AUTH_URI', 'https://www.patreon.com/oauth2/authorize');
define('PATREON_TOKEN_URI', 'https://www.patreon.com/api/oauth2/token');
