<?php

define('SUBSCRIPTION_CSRF_HMAC_KEY', 'tsfbXNZRE5UMbVyi3uF7MWRo3oxHpBL2QbNBteYK');
define('SUBSCRIPTION_PUBLIC_ID_HMAC_KEY', 'tsfbXNZRE5UMbVyi3uF7MWRo3oxHpBL2QbNBteYK');

define('SUBSCRIPTION_ERRORS_EMAIL_ADDRESS', 'uhoh@localhost');

$PAYPAL_BUSINESSES = ['paypaladdress1@localhost', 'seller@paypalsandbox.com'];
