<?php
$twitterCredentials = [
    'consumerKey' => '',
    'consumerSecret' => '',
    'WoWTokens' => [
        'accessToken' => '',
        'accessTokenSecret' => '',
    ],
    'WoWTokenNA' => [
        'accessToken' => '',
        'accessTokenSecret' => '',
    ],
    'WoWTokenEU' => [
        'accessToken' => '',
        'accessTokenSecret' => '',
    ]
];